body {
  background-color: #a87c62;
  color: #fff;
  font-family: "Amatic SC", serif;
}
.header {
  background-color: #fff;
}

.list {
  list-style: none;
}
.link {
  color: #fff;
  text-decoration: none;
}
.dark-links {
  color: #a87c62;
}

.tell {
  position: absolute;
  top: 2em;
  right: 20px;
  line-height: 1;
  font-weight: 700;
}
.insta {
  position: absolute;
  top: 2em;
  right: 110px;
  line-height: 1;
  font-weight: 700;
}
.works {
  position: absolute;
  top: 2em;
  left: 100px;
  line-height: 1;
  font-weight: 700;
}
.me {
  position: absolute;
  top: 2em;
  left: 180px;
  line-height: 1;
  font-weight: 700;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.titel {
  text-align: center;
}

.tell-footer {
  position: absolute;
  right: 20px;
  line-height: 1;
  font-weight: 700;
}
.insta-footer {
  position: absolute;
  right: 110px;
  line-height: 1;
  font-weight: 700;
}
.address {
  position: absolute;
  left: 100px;
  line-height: 1.9;
  font-weight: 700;
}
.logo-dark {
  position: absolute;
  left: 10px;
}
